body{
    /* background: peru; */
    margin: 0px;
    padding: 0px;
    background-image: "C:\Users\hp\Desktop\add_to_cart\cart\static\images\annie-spratt-wuc-KEIBrdE-unsplash.jpg";
}
.header{
    padding-right: 0; 
    padding-left: 0;
}
.owl-carousel .item{
    /* border: 1px solid black; */
    font-size: 24px;
    text-align: center;
    margin-top: 20px;;
   }
   
   .owl-next{
    float:right;
   }
   .owl-prev{
    float:left;
   }
   .owl-prev span{
    font-size: 24px;
    font-weight: bold;
   }
   .owl-next span{
    font-size: 24px;
    font-weight: bold;
   }
   .img_laptop{
    
    height: 200px;
   }
   