{% extends "base.html" %}
{% load static %}
{% block title %}mobile{% endblock title %}
{% block content %}
<h1>mobile data</h1>

<div class="container-flude m-3">
  <h3 class="text-capitalize">best mobile</h3>
  <div class="row">
    {% for mobile in mobile %}
    <div class="card m-1" style="width:16rem;" height="250px">
      <a href="{% url 'product_details' mobile.id %}" class="btn p-0">
        <img src={{mobile.product_images.url}} style="width:15rem;" height="250px" alt="">
        <div class="card-body">
          <h5 class="card-title">Card title: {{mobile.title}}</h5>
          <h6 class="card-subtitle text-muted ">selling_price: {{mobile.selling_price}}</h6>
          <p>{{mobile.discriptions}}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  
{% endblock content %}
